Hi <%= @owner.first_name %>,<br>

This is an email confirmation for your reservation for <%= @pet.name %>.<br>

<p>Date: <%= @reservation.checkin.to_date %></p>
<p>Services: <%= @reservation.services %></p>

<p>We look forward to seeing you!</p>

All the best,<br>

Riordan's Kennels